<form>
    <div class="row">
        <div class="col-xs-12 col-sm-3">
            <div class="form-group">
                <label>Сумма</label>
                <input class="form-control" type="text" ng-model="curConvCtrl.sumIn" ng-change="curConvCtrl.calculateCurrencyOut()">
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="form-group">
                <label>Имеющаяся валюта</label>
                <select class="form-control" name="currencyInSelect"
                                             ng-options="option.name + ' (' + option.code + ' )' for option in curConvCtrl.currencies"
                                             ng-model="curConvCtrl.currencyIn"
                                             ng-change="curConvCtrl.updateRates"
                >
                </select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-1 text-center">
            <label style="visibility:hidden;">Reverse</label>
            <button type="button" class="btn btn-default" ng-click="curConvCtrl.reverseCurrency()">
                <span class="glyphicon glyphicon-resize-horizontal" title="Поменять валюты местами"></span>
            </button>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="form-group">
                <label>Нужная валюта</label>
                <select class="form-control" name="currencyOutSelect"
                                             ng-options="option.name + ' (' + option.code + ' )' for option in curConvCtrl.currencies"
                                             ng-model="curConvCtrl.currencyOut"
                                             ng-change="curConvCtrl.updateRates"
                >
                </select>
            </div>
        </div>
    </div>
    <div class="currency-converter-result bg-success text-center">
        <h4>Результат конвертации ({{curConvCtrl.currencyIn.code}}-{{curConvCtrl.currencyOut.code}})</h4>
        <h4>{{curConvCtrl.sumOut}} {{curConvCtrl.currencyOut.code}}</h4>
    </div>
</form>